<!-- navbar -->
<%= render 'shared/navbar' %>
<!-- banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1515643395264-3f8c19a2dc77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1660&q=180);">
  <div class="container-title">
    <h1>Full-Stack Web Developer</h1>
    <p>Création de sites Web modernes et sur mesure</p>
    <a class="btn btn-flat" href="#about-me">A propos</a>
  </div>
</div>

<!-- portfolio -->
<div id="portfolio">
  <div class="card-area">
    <div class="title-line"><h3>Projets</h3></div>

    <div class="container-portfolio">

      <!-- <div id="show-details" onmouseover="showDetails()"> -->
        <a id="show-details" href="https://cocktailsappwagonlo1176.herokuapp.com/" target="_blank" class="card-portfolio card-img img-a col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
          <h2>Pimp my <span>Cocktails</span></h2>
          <p>Save and customise MY coktails</p>

        </a>

        <a id="show-details" href="http://kiddo-hatha-website.herokuapp.com/" target="_blank" class="card-portfolio card-img img-b col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
          <div class="details">
            <div class="title">
              <!-- <h4>Yoga Hatha</h4> -->
              <p>Un site web pour un prof de Yoga</p>
            </div>
            <div class="portfolio-end"></div>
          </div>
        </a>

        <a id="show-details" href="https://proximart.herokuapp.com/" target="_blank" class="card-portfolio card-img img-c col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
          <div class="details">
            <div class="title">
              <h4>Proxim'art</h4>
              <p>Trouvez une exposition près de chez vous</p>
            </div>
            <div class="portfolio-end"></div>
          </div>
        </a>


<!-- sarah fx -->
<!-- <div id="portfolio"> -->
  <!-- <div class="card-area"> -->

      <a href="https://cocktailsappwagonlo1176.herokuapp.com/" target="_blank">
        <figure class="effect-sarah card-portfolio card-img col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
          <%= image_tag "img-a.png", alt: "img-a" %>
          <figcaption>
            <h2>Pimp my <span>Cocktails</span></h2>
            <p>Save and customise your coktails</p>
          </figcaption>
        </figure>
      </a>

      <a href="https://cocktailsappwagonlo1176.herokuapp.com/" target="_blank">
        <figure class="effect-sarah card-portfolio card-img col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
          <%= image_tag "img-b.png", alt: "img-b" %>
          <figcaption>
            <h2>Yoga <span>Hatha</span></h2>
            <p>Un site web pour une prof de Yoga</p>
          </figcaption>
        </figure>
      </a>

      <a href="https://cocktailsappwagonlo1176.herokuapp.com/" target="_blank">
        <figure class="effect-sarah card-portfolio card-img col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
          <%= image_tag "img-c.png", alt: "img-c", class: "img-size" %>
          <figcaption>
            <h2><span>Proximart</span></h2>
            <p>Trouvez une exposition près de chez vous</p>
          </figcaption>
        </figure>
      </a>
    </div>
  </div>
</div>


<%= render 'shared/footer' %>
<%= render 'shared/scrollup' %>
