<!-- navbar -->
<%= render 'shared/navbar' %>
<!-- banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1515643395264-3f8c19a2dc77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1660&q=180);">
  <div class="container-banner-title">
    <h1>Full-Stack Web Developer</h1>
    <!-- This section is for the JS Ityped -->
    <p>Création de sites Web <span id="dev"></span></p>
    <a class="about-me" href="#about-me"><i class="fas fa-chevron-down"></i></a>

  </div>
</div>

<div class="">

  <!-- about-me -->
  <div id="about-me" class="container">
    <div class="title-line"><h3>A propos</h3></div>
    <p>Le cas de figure qu’on voit le plus souvent, c’est une expertise forte avec plein de connaissances satellites. Les développeurs sont nombreux à essayer de comprendre ce qu’il se passe dans les couches qui ne les concernent pas. Parfois, c’est pour comprendre le point de vue d’autres experts. Souvent, c’est par pure curiosité.</p>

    <p>Les développeurs fullstack sont des développeurs qui ont assez élargi leur zone de confort pour pouvoir intervenir efficacement à plusieurs endroits. Ils gardent leurs expertises de cœur et ont les connaissances nécessaires pour faire fonctionner les couches autour.</p>

    <p>Mais un développeur backend spécialisé fera un bien meilleur travail coté backend non ? Oui. Mais on s’en fout en fait. Ça dépend du besoin. Tu peux pas dissocier l’expertise et le besoin de l’entreprise. Prenons un exemple.</p>

    <p>Si le besoin côté backend c’est un trafic de quelques milliers de personnes dans la journée : presque n’importe qui peut faire un backend qui tient la route. Objectivement, avec les solutions toutes faites qui existent, c’est “facile”.</p>

    <p>Par contre, si le besoin c’est une grande API critique tapée 50 000 fois par secondes et qui doit répondre sous 150ms, c’est pas pareil. Là, si t’as pas un expert backend, accroche-toi bien parce que ça va te péter à la gueule.</p>

  </div>
  <!-- portfolio -->
  <div id="portfolio">
    <div class="card-area">
      <div class="container title-line"><h3>Projets</h3></div>

      <div class="container-portfolio">
          <!-- <a id="show-details" href="https://cocktailsappwagonlo1176.herokuapp.com/" target="_blank" class="card-portfolio card-img img-a col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
            <h2>Pimp my <span>Cocktails</span></h2>
            <div class="details">
              <p>Save and customise MY coktails</p>
            </div>

          </a>

          <a id="show-details" href="http://kiddo-hatha-website.herokuapp.com/" target="_blank" class="card-portfolio card-img img-b col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
            <h2>Yoga <span>Hatha</span></h2>
            <div class="details">
              <div class="title">
                <p>Un site web pour une prof de Yoga</p>
              </div>
              <div class="portfolio-end"></div>
            </div>
          </a>

          <a id="show-details" href="https://proximart.herokuapp.com/" target="_blank" class="card-portfolio card-img img-c col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
            <div class="title">
              <h2><span>Proxim'art</span></h2>
                <div class="details">
                  <p>Trouvez une exposition près de chez vous</p>
                </div>
            </div>
          </a>
           -->


  <!-- sarah fx -->
  <!-- <div id="portfolio"> -->
    <!-- <div class="card-area"> -->

        <a href="https://cocktailsappwagonlo1176.herokuapp.com/" target="_blank">
          <figure class="effect-sarah card-portfolio card-img col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
            <%= image_tag "img-a.png", alt: "img-a" %>
            <figcaption>
              <h2>Pimp my <span>Cocktails</span></h2>
              <p>Save and customise your coktails</p>
            </figcaption>
          </figure>
        </a>

        <a href="http://kiddo-hatha-website.herokuapp.com/" target="_blank">
          <figure class="effect-sarah card-portfolio card-img col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
            <%= image_tag "img-b.png", alt: "img-b" %>
            <figcaption>
              <h2>Yoga <span>Hatha</span></h2>
              <p>Un site web pour enseigner le Yoga</p>
            </figcaption>
          </figure>
        </a>

        <a href="https://proximart.herokuapp.com/" target="_blank">
          <figure class="effect-sarah card-portfolio card-img col-xs-10 col-sm-10 col-md-5 col-lg-4 col-xl-4">
            <%= image_tag "img-c.png", alt: "img-c", class: "img-size" %>
            <figcaption>
              <h2><span>Proximart</span></h2>
              <p>Trouvez une exposition près de chez vous</p>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>


<%= render 'shared/footer' %>
<%= render 'shared/scrollup' %>
